\225-legal-invoices\workflows\brightflag\lambda_functions\mio225_legal_invoices_brightflag_loadExpGrpLambda.py
/225-legal-invoices/workflows/brightflag/lambda_functions/mio225_legal_invoices_brightflag_loadExpGrpLambda.py